.myclass{
    color: crimson;
    font-size: 30px;
}
.home-img{
    background-image: url('/public/back_img.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

.nav-item .active{
    font-weight: bold;
    border-bottom: 2px solid blueviolet;
    color: blueviolet !important;
}

.img1{
    display: block;
    margin: auto;
    width: 30%;
    height: 20%;
}

.nav-center{
    text-align: center;
}