.heading{
    background-color: #2D4356;
    color: white;
}

.mylabel{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}